*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.navbar h1{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    padding: 9px 3px;
    

}

.first{

    display: flex;
    align-items: center;
    justify-content: center;
    background: 2px solid black;

}

.first img {
    width: 380px;
    height: 450px;
    padding: 20px 20px;
    margin-top: 85px;
    cursor: pointer;
}

.para{
    margin-left: 20px;
    cursor: pointer;
    
}

.btn-download {
    margin-left: 375px;
    margin-top: -15px;
    outline: none;
    border: none;
}

/* .heart{
    
    outline: none;
    border: none; 
} */


.foot {
    background: rgba(0, 0, 0, 0.827);
    background-size: cover;
    background-blend-mode: darken;
    margin-top: auto;
}
.text-footer {
    text-align: center;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;

}